body {
  font-family: Geologica;
  color: var(--white);
}
h1 {
  font-size: 3rem;
  margin: 25px 15px 35px 15px;
}
#prev {
  h1 {
    font-size: 2.5rem;
    margin: 0px;
    margin-bottom: 17px;
    color: var(--red);
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--gold);
  }
  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--green);
  }
  ul,
  li {
    margin-left: 20px;
    padding: 0px;
    text-decoration: dotted;
  }
}

input,
textarea {
  background-color: var(--night);
  font-family: Geologica;
  color: var(--white);
  width: 100%;
  min-height: 20vh;
  height: auto;
  &:focus {
    outline: none;
  }
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--night);
}

#doc,
#prev {
  width: 80%;
  margin: 25px;
  border-radius: 15px;
  padding: 15px 15px 15px 15px;
  &:focus {
    outline: none;
  }
}

.standard {
  border: solid 5px var(--white);
  box-shadow: 0px 0px 8px var(--white);
}
.saved {
  border: solid 5px var(--green);
  box-shadow: 0px 0px 12px var(--green);
}
.error {
  border: solid 5px var(--red);
  box-shadow: 0px 0px 12px var(--red);
}
